# Practical 1

### [Christian Cabrera](https://www.cst.cam.ac.uk/people/chc79), University

of Cambridge

### [Radzim Sendyka](https://www.cst.cam.ac.uk/people/rs2071), University

of Cambridge

### [Carl Henrik Ek](http://carlhenrik.com), University of Cambridge

### [Neil D. Lawrence](http://inverseprobability.com), University of

Cambridge

### 2024-11-05

**Abstract**: In this lab session we look at setting up a SQL server,
creating and populating a database, and making joins between different
tables.

$$
$$

::: {.cell .markdown}

<!-- Do not edit this file locally. -->
<!-- Do not edit this file locally. -->
<!---->
<!-- Do not edit this file locally. -->
<!-- Do not edit this file locally. -->
<!-- The last names to be defined. Should be defined entirely in terms of macros from above-->
<!--

-->

**The check Session for this Practical is 7th November 2024.**

-   This practical should prepare you for the course assessment. Ensure
    that you have a solid understanding of the material, with particular
    emphasis on the AWS database setup. You should be able to use the
    same database that you set up here for the final assessment.
-   In that assessment, you will work with datasets that require initial
    setup processes. **Start your work on dataset access and database
    setup early** to avoid being blocked from work on subsequent stages
    later.
-   Some tasks will require you to develop skills for searching for
    multiple solutions and experimenting with different approaches,
    which lecture content may not cover. This environment closely
    resembles real-world data science and software engineering
    challenges, where there might not be a unique correct solution.

## Brief History of the Cloud

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_cloud/includes/history-of-cloud.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_cloud/includes/history-of-cloud.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

In the early days of the internet, companies could make use of open
source software, such as the Apache web server and the MySQL database
for providing on line stores, or other capabilities. But as part of
that, they normally had to provide their own server farms. For example,
the earliest server for running PageRank from 1996 was hosted on custom
made hardware built in a case of Mega Blocks (see Figure ).

<img class="" src="https://mlatcl.github.io/advds/./slides/diagrams//cloud/The_first_Google_computer_at_Stanford.jpg" style="width:50%">

Figure: <i>The web search engine was hosted on custom built hardware.
Photo credit [Christian Heilmann on
Flickr](https://www.flickr.com/photos/11414938@N00/2821326488).</i>

By September 2000, Google operated 5000 PCs for searching and web
crawling, using the LINUX operating system.[1]

Cloud computing gives you access to computing at a similar scale, but on
an as-needed basis. AWS launched S3 cloud storage in March 2006 and the
Elastic Compute Cloud followed in August 2006. These services were
inspired by the challenges they had scaling their own web service (known
as Obidos) for running the world’s largest e-commerce site. Recent
market share estimates indicate that AWS still retains around a third of
the cloud infrastructure market.[2]

[1] See [infolab at
Stanford](http://infolab.stanford.edu/pub/voy/museum/pictures/display/0-4-Google.htm)
for more details.

[2] There are various reports that try to track market share, here’s one
from Gartner from June 2021:
<https://www.gartner.com/en/newsroom/press-releases/2021-06-28-gartner-says-worldwide-iaas-public-cloud-services-market-grew-40-7-percent-in-2020>.
It looks at revenue that suggests Amazon retains 40% with Microsoft
second largest on 20%.

## UK Housing Datasets

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_datasets/includes/uk-housing-data.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_datasets/includes/uk-housing-data.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

The UK Price Paid data for housing in dates back to 1995 and contains
millions of transactions. This database is available at the [gov.uk
site](https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads).
The total data is over 4 gigabytes in size and it is available in a
single file or in multiple files splitted by years and semester. For
example, the first part of the data for 2018 is stored at
<http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018-part1.csv>.
By applying the divide and conquer principle, we will download the
splitted data because these files is less than 100MB each which makes
them easier to manage.

Let’s download first the two files that contain the price paid data for
the transactions that took place in the year 1995:

In [2]:
import requests

In [3]:
# Base URL where the dataset is stored
base_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com"
# Downloading part 1 from 1995
file_name_part_1 = "/pp-1995-part1.csv"
url = base_url + file_name_part_1
response = requests.get(url)
if response.status_code == 200:
  with open("." + file_name_part_1, "wb") as file:
    file.write(response.content)
# Downloading part 2 from 1995
file_name_part_2 = "/pp-1995-part2.csv"
url = base_url + file_name_part_2
response = requests.get(url)
if response.status_code == 200:
  with open("." + file_name_part_2, "wb") as file:
    file.write(response.content)

The data is downloaded as CSV files in the files explorer of this
notebook. You can see that the two pieces of code that download the data
are quite similar. It makes sense to use a for loop to automate the way
we access the dataset for the different years. The following code will
download the data from 1996 to 2010.

In [4]:
# Base URL where the dataset is stored
base_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com"
# File name with placeholders
file_name = "/pp-<year>-part<part>.csv"
for year in range(1996,2011):
  print ("Downloading data for year: " + str(year))
  for part in range(1,3):
    url = base_url + file_name.replace("<year>", str(year)).replace("<part>", str(part))
    response = requests.get(url)
    if response.status_code == 200:
      with open("." + file_name.replace("<year>", str(year)).replace("<part>", str(part)), "wb") as file:
        file.write(response.content)

Downloading data for year: 1996
Downloading data for year: 1997
Downloading data for year: 1998
Downloading data for year: 1999
Downloading data for year: 2000
Downloading data for year: 2001
Downloading data for year: 2002
Downloading data for year: 2003
Downloading data for year: 2004
Downloading data for year: 2005
Downloading data for year: 2006
Downloading data for year: 2007
Downloading data for year: 2008
Downloading data for year: 2009
Downloading data for year: 2010

If we think of reusability, it would be good to create a function that
can be called from anywhere in your code.

In [5]:
import requests

In [6]:
def download_price_paid_data(year_from, year_to):
    # Base URL where the dataset is stored
    base_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com"
    """Download UK house price data for given year range"""
    # File name with placeholders
    file_name = "/pp-<year>-part<part>.csv"
    for year in range(year_from, (year_to+1)):
        print (f"Downloading data for year: {year}")
        for part in range(1,3):
            url = base_url + file_name.replace("<year>", str(year)).replace("<part>", str(part))
            response = requests.get(url)
            if response.status_code == 200:
                with open("." + file_name.replace("<year>", str(year)).replace("<part>", str(part)), "wb") as file:
                    file.write(response.content)

Now we can call the function to download the data between two given
years. For example, let’s download the data from 2011 to 2020 by calling
the defined function.

In [7]:
download_price_paid_data(2011, 2020)

Downloading data for year: 2011
Downloading data for year: 2012
Downloading data for year: 2013
Downloading data for year: 2014
Downloading data for year: 2015
Downloading data for year: 2016
Downloading data for year: 2017
Downloading data for year: 2018
Downloading data for year: 2019
Downloading data for year: 2020

### Exercise 1

Add this function to your fynesse library and download the data from
2021 to 2024 using your library.

### Exercise 1 Answer

Write your answer to Exercise 1 here

In [8]:
%pip uninstall --yes fynesse
%pip install git+https://github.com/JDS289/jd2016_ads_2024.git
import fynesse

fynesse.access.download_price_paid_data(2021, 2024)

WARNING: Skipping fynesse as it is not installed.
Collecting git+https://github.com/JDS289/jd2016_ads_2024.git
  Cloning https://github.com/JDS289/jd2016_ads_2024.git to /tmp/pip-req-build-45jz8g6_
  Running command git clone --filter=blob:none --quiet https://github.com/JDS289/jd2016_ads_2024.git /tmp/pip-req-build-45jz8g6_
  Resolved https://github.com/JDS289/jd2016_ads_2024.git to commit 8f76905b5c0df62db5f5c3ed8c24471d8a08bf0c
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.26.4)
Collecting jupyter (from fynesse==0.1.0)
  Downloading jupyter-1.1.1-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (3.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.5.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (5.5.6)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.7.1)
Collecting jupyterlab (from jupyter->fynesse==0.1.0)
  Downloading jupyterlab-4.3.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.34.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.6.10)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.18.0)
Collecting async-lru>=1.0.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading async_lru-2.0.4-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Collecting ipykernel (from jupyter->fynesse==0.1.0)
  Downloading ipykernel-6.29.5-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (5.7.2)
Collecting jupyter-lsp>=2.0.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_lsp-2.2.5-py3-none-any.whl.metadata (1.8 kB)
Collecting jupyter-server<3,>=2.4.0 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_server-2.14.2-py3-none-any.whl.metadata (8.4 kB)
Collecting jupyterlab-server<3,>=2.27.1 (from jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyterlab_server-2.27.3-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: notebook-shim>=0.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (75.1.0)
Requirement already satisfied: tomli>=1.2.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.2)
Collecting comm>=0.1.1 (from ipykernel->jupyter->fynesse==0.1.0)
  Downloading comm-0.2.2-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.6)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (24.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.1.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.12.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.6)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Collecting jedi>=0.16 (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0)
  Downloading jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (4.9.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core->jupyterlab->jupyter->fynesse==0.1.0) (4.3.6)
Collecting jupyter-client (from jupyter-console->jupyter->fynesse==0.1.0)
  Downloading jupyter_client-7.4.9-py3-none-any.whl.metadata (8.5 kB)
Collecting jupyter-events>=0.9.0 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_events-0.10.0-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting overrides>=5.0 (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from jupyter-client->jupyter-console->jupyter->fynesse==0.1.0) (0.4)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Collecting json5>=0.9.0 (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading json5-0.9.25-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel->jupyter->fynesse==0.1.0) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.20.0)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading python_json_logger-2.0.7-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Collecting rfc3339-validator (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (2.22)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.8.0)
Collecting arrow>=0.15.0 (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Collecting types-python-dateutil>=2.8.10 (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0)
  Downloading types_python_dateutil-2.9.0.20241003-py3-none-any.whl.metadata (1.9 kB)
Downloading jupyter-1.1.1-py2.py3-none-any.whl (2.7 kB)
Downloading jupyterlab-4.3.0-py3-none-any.whl (11.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 64.4 MB/s eta 0:00:00
Downloading ipykernel-6.29.5-py3-none-any.whl (117 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.2/117.2 kB 10.1 MB/s eta 0:00:00
Downloading async_lru-2.0.4-py3-none-any.whl (6.1 kB)
Downloading comm-0.2.2-py3-none-any.whl (7.2 kB)
Downloading jupyter_lsp-2.2.5-py3-none-any.whl (69 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.1/69.1 kB 5.2 MB/s eta 0:00:00
Downloading jupyter_server-2.14.2-py3-none-any.whl (383 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 383.6/383.6 kB 24.3 MB/s eta 0:00:00
Downloading jupyter_client-7.4.9-py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.5/133.5 kB 10.3 MB/s eta 0:00:00
Downloading jupyterlab_server-2.27.3-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.7/59.7 kB 4.8 MB/s eta 0:00:00
Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 45.9 MB/s eta 0:00:00
Downloading json5-0.9.25-py3-none-any.whl (30 kB)
Downloading jupyter_events-0.10.0-py3-none-any.whl (18 kB)
Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl (13 kB)
Downloading overrides-7.7.0-py3-none-any.whl (17 kB)
Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Downloading fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Downloading isoduration-20.11.0-py3-none-any.whl (11 kB)
Downloading uri_template-1.3.0-py3-none-any.whl (11 kB)
Downloading arrow-1.3.0-py3-none-any.whl (66 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 5.2 MB/s eta 0:00:00
Downloading types_python_dateutil-2.9.0.20241003-py3-none-any.whl (9.7 kB)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py) ... done
  Created wheel for fynesse: filename=fynesse-0.1.0-py3-none-any.whl size=6236 sha256=483d69f65ba7cb3e00cb77ba21ca59c290639974a0cfc33c1c8e14f2f73cf82d

## Cloud Hosted Database

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_access/includes/aws-database-setup.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_access/includes/aws-database-setup.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

The size of the data makes it unwieldy to manipulate directly in python
frameworks such as `pandas`. As a result we will host and access the
data in a *relational database*.

Using the following ideas: 1. A cloud hosted database (such as MariaDB
hosted on the AWS RDS service). 2. SQL code wrapped in appropriately
structured python functions. 3. Joining databases tables. You will
construct a database containing tables that contain all house prices,
latitudes and longitudes from the UK house price data base since 1995.

### Important Notes

**You will manipulate large datasets along this practical and the final
assessment. If your database is blocked or is not responsive after any
operation, have a look at the databases dashboard to see if it is using
too much CPU. Reboot the database if that is the case.** **If you
encounter problems with the online notebook (e.g., interrupted
connections with the AWS server), you can use a local IDE to work in
your machine.**

### SQL Database Server

A typical machine learning installation might have you running a
database from a cloud service (such as AWS, Azure or Google Cloud
Platform). That cloud service would host the database for you, and you
would pay according to the number of queries made. Popular SQL server
software includes \[`MariaDB`\] https://mariadb.org/) which is open
source, or [Microsoft’s SQL
Server](https://www.microsoft.com/en-gb/sql-server/sql-server-2019).

Many start-up companies were formed on the back of a `MySQL` server
hosted on top of AWS. Although since MySQL was sold to Sun, and then
passed on to Oracle, the open source community has turned its attention
to `MariaDB`, here’s the [AWS instructions on how to set up
`MariaDB`](https://aws.amazon.com/getting-started/hands-on/create-mariadb-db/).

If you were designing your own ride hailing app, or any other major
commercial software you would want to investigate whether you would need
to set up a central SQL server in one of these frameworks.

### Creating a MariaDB Server on AWS

In this section, we’ll review the setup required to create a MariaDB
server on AWS. The earliest AWS services of S3 and EC2 gave storage and
compute. Together these could be combined to host a database service.
Today cloud providers also provide machines that are already set up to
provide a database service. We will make use of AWS’s Relational
Database Service to provide our `MariaDB` server.

1.  Log in to your AWS account and go to the AWS RDS console
    [here](https://console.aws.amazon.com/rds/home).
2.  Make sure **the region is set to Europe (London) which is denoted as
    eu-west-2.**
3.  Scroll down to “Create Database”. Do *not* create an Aurora database
    instance.
4.  `Standard Create` should be selected. In the box below, which is
    titled `Engine Options` you should select `MariaDB`. You can leave
    the `Version` as it’s set.

<img class="" src="https://mlatcl.github.io/advds/./slides/diagrams//cloud/aws-select-mariadb-rds.png" style="width:60%">

Figure: <i>The AWS console box for selecting the `MariaDB` engine.</i>

1.  In the box below that, make sure you select `Free tier`.

<img class="" src="https://mlatcl.github.io/advds/./slides/diagrams//cloud/aws-select-free-tier.png" style="width:60%">

Figure: <i>Make sure you select the free tier option for your database
server.</i>

1.  Name your database server. For your setup we suggest you use
    `database-ads-<CRSid>` for the name. `<CRSid>` **corresponds to your
    CRSid. So, every student has an independent database.**
2.  Set a master password for accessing the database server as admin.

<img class="" src="https://mlatcl.github.io/advds/./slides/diagrams//cloud/aws-mariadb-settings.png" style="width:60%">

Figure: <i>Set the password and username for the database server
access.</i>

1.  Leave the `DB instance class` as it is.
2.  Leave the `DB instance size` at the default setting. Leave the
    storage type and allocated storage at the default settings of
    `General Purpose` (SSD) and `20`.
3.  *Disable* autoscaling in the `Storage Autoscaling` option.
4.  In the connectivity leave the VPC selection as `Default VPC` and
    *enable* `Publicly accessible` so that you’ll have an IP address for
    your database.
5.  In `VPC security group` select `Create new` to create a new security
    group for the instance.
6.  Write `ADSMariaDB` as the group name for the VPC security group.
7.  Leave the rest as it is and select `Create database` at the bottom
    to launch the database server.

Your database server will take a few minutes to launch.

While it’s launching you can check the access rules for the database
server
[here](https://eu-west-2.console.aws.amazon.com/ec2/v2/home?region=eu-west-2#SecurityGroups:).

1.  Select the `Default` security group.
2.  The source of the active inbound rule must be set to `0.0.0.0/0`. It
    means you can connect from any source using IPv4.

A wrong inbound rule can cause you fail connecting to the database from
this notebook.

*Note:* by setting the inbound rule to `0.0.0.0/0` we have opened up
access to *any* IP address. If this were production code you wouldn’t do
this, you would specify a range of addresses or the specific address of
the compute server that needed to access the system. Because we’re using
Google colab or another notebook client to access, and we can’t control
the IP address of that access, for simplicity we’ve set it up so that
any IP address can access the database, but that is *not good practice*
for production systems.

## Connecting to your Database Server

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_access/includes/sql-database-connection.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_access/includes/sql-database-connection.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

Before you start, you’re going to need the username and password you
set-up above for accessing the database server. You will need to make
use of it when your client connects to the server. It’s good practice to
never expose passwords in your code directly. So to protect your
passowrd, we’re going to create a `credentials.yaml` file locally that
will store your username and password so that the client can access the
server without ever showing your password in the notebook. This file
will also score the URL and port of your database. You can get these
details from your database connectivity and security details.

In [9]:
import yaml
from ipywidgets import interact_manual, Text, Password

In [10]:
@interact_manual(username=Text(description="Username:"),
                password=Password(description="Password:"),
                url=Text(description="URL:"),
                port=Text(description="Port:"))
def write_credentials(username, password, url, port):
    with open("credentials.yaml", "w") as file:
        credentials_dict = {'username': username,
                           'password': password,
                           'url': url,
                           'port': port}
        yaml.dump(credentials_dict, file)

interactive(children=(Text(value='', description='Username:'), Password(description='Password:'), Text(value='…

If you click `Run Interact` then the credentials you’ve selected will be
saved in the `yaml` file.

Then, we can read the server credentials using:

In [11]:
with open("credentials.yaml") as file:
  credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = credentials["url"]
port = credentials["port"]

## SQL Commands

We have all the required data to interact with our database server.
There are mainly two ways how we can do that. The first one is using
magic SQL commands. For this option, we need to install pymysql and load
the sql extension:

In [12]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [13]:
%load_ext sql

We can now test our first database server connection using magic SQL.
The first line establishes the connection and the second one list the
databases. For now, you should see the databases that the engine has
installed by default.

In [14]:
%sql mariadb+pymysql://$username:$password@$url?local_infile=1
%sql SHOW databases

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
6 rows affected.

[('ads_2024',),
 ('information_schema',),
 ('innodb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

This connection also enables the uploading of local files as part of the
connection (i.e., `local_infile=1`). We will use this property later.

## Database Schema

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_access/includes/sql-database-schema.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_access/includes/sql-database-schema.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

As a first step after establishing a connection, we should create our
own database in the server. We will use this relational database to
store, structure, and access the different datasets we will manipulate
during this course. We will use SQL code for this and once again magic
commands:

In [15]:
%%sql
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

CREATE DATABASE IF NOT EXISTS `ads_2024` DEFAULT CHARACTER SET utf8 COLLATE utf8_bin;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [16]:
%sql SHOW databases

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
6 rows affected.

[('ads_2024',),
 ('information_schema',),
 ('innodb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

After the database is created in our server, we must tell it which
database we will use. You will need to run this command after you create
a new connection:

In [17]:
%%sql
USE `ads_2024`;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

[]

A database is composed of tables where data records are stored in rows.
The attributes of each record are the columns. We must define an
`schema` to create a table in a database. The `schema` tells the
database and the server what to expect in the columns of the table
(i.e., names and data types of the columns).

The `schema` is defined by the data we want to store. If we want to
store the UK Price Paid data, we should have a look at [its description
first](https://www.gov.uk/guidance/about-the-price-paid-data#explanations-of-column-headers-in-the-ppd).
Also, we should a look at the data. Let’s do that for the second
semester of 2021.

In [18]:
import pandas as pd

In [19]:
file_name = "./pp-2021-part2.csv"
data = pd.read_csv(file_name)
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 635765 entries, 0 to 635764
Data columns (total 16 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   {C8A3A576-E3AE-0425-E053-6C04A8C0947B}  635765 non-null  object
 1   128065                                  635765 non-null  int64
 2   2021-07-12 00:00                        635765 non-null  object
 3   CW12 2GS                                633303 non-null  object
 4   T                                       635765 non-null  object
 5   Y                                       635765 non-null  object
 6   F                                       635765 non-null  object
 7   8                                       635765 non-null  object
 8   Unnamed: 8                              79512 non-null   object
 9   CARTWRIGHT CLOSE                        622172 non-null  object
 10  EATON                                   246462 non-null  object
 11  CONGLETON                               635765 non-null  object
 12  CHESHIRE EAST                           635765 non-null  object
 13  CHESHIRE EAST.1                         635765 non-null  object
 14  B                                       635765 non-null  object
 15  A                                       635765 non-null  object
dtypes: int64(1), object(15)
memory usage: 77.6+ MB

Based on the columns of the dataframe, we should define now the
equivalent `schema` of the table in the SQL database. We will use once
more SQL magic commands to create a table with the equivalent `schema`:

In [24]:
# WARNING: If you run this command after you have uploaded data to the table (in the steps below), you will delete the uploaded data as this command first drops the table if exists (DROP TABLE IF EXISTS `pp_data`;).
%%sql
--
-- Table structure for table `pp_data`
--
USE `ads_2024`;
DROP TABLE IF EXISTS `pp_data`;
CREATE TABLE IF NOT EXISTS `pp_data` (
  `transaction_unique_identifier` tinytext COLLATE utf8_bin NOT NULL,
  `price` int(10) unsigned NOT NULL,
  `date_of_transfer` date NOT NULL,
  `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
  `property_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `new_build_flag` varchar(1) COLLATE utf8_bin NOT NULL,
  `tenure_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `primary_addressable_object_name` tinytext COLLATE utf8_bin NOT NULL,
  `secondary_addressable_object_name` tinytext COLLATE utf8_bin NOT NULL,
  `street` tinytext COLLATE utf8_bin NOT NULL,
  `locality` tinytext COLLATE utf8_bin NOT NULL,
  `town_city` tinytext COLLATE utf8_bin NOT NULL,
  `district` tinytext COLLATE utf8_bin NOT NULL,
  `county` tinytext COLLATE utf8_bin NOT NULL,
  `ppd_category_type` varchar(2) COLLATE utf8_bin NOT NULL,
  `record_status` varchar(2) COLLATE utf8_bin NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

The `schema` defines an id field in the table (i.e., `db_id`), which
must be unique and will play the role of [primary
key](https://www.geeksforgeeks.org/primary-key-in-dbms/), which is a
crucial concept in relational databases. The following code sets up the
primary key for our table and makes it auto increment when a new row
(i.e., record) is insterted into the table.

In [25]:
%%sql
--
-- Primary key for table `pp_data`
--
ALTER TABLE `pp_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `pp_data`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

We’ve created our first table in the database with its respective
primary key. Now we need to populate it. There are different methods to
do that. [Some of them more efficient than
others](https://dev.to/arctype/load-data-infile-vs-insert-in-mysql-why-how-when-247f#:~:text=%E2%80%8BWhen%20working%20with%20MySQL,way%20faster%20than%20INSERT%20does.).
In our case, given the size of our data set, we will take advantage of
the csv files we downloaded in the first part of this lab. The command
`LOAD DATA LOCAL INFILE` allows uploading data to the table from a CSV
file. We must specify the name of the local file, the name of the table,
and the format of the CSV file we want to use (i.e., separators,
enclosers, termination line characters, etc.)

The following command uploads the data of the transactions that took
place in 1995.

In [26]:
%sql USE `ads_2024`;
%sql LOAD DATA LOCAL INFILE "./pp-1995-part1.csv" INTO TABLE `pp_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';
%sql LOAD DATA LOCAL INFILE "./pp-1995-part2.csv" INTO TABLE `pp_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
398499 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
398500 rows affected.

[]

If we want to upload the data for all the years, we will need a command
for each CSV in our dataset. Alternatively, we can use Python code
together with SQL magic commands as follows:

In [28]:
# WARNING: This code will take a long time to finish (i.e., more than 30 minutes) given our dataset's size. The print informs the uploading progress by year.
for year in range(1996,2025):
  print ("Uploading data for year: " + str(year))
  for part in range(1,3):
    file_name = "./pp-" + str(year) + "-part" + str(part) + ".csv"
    %sql LOAD DATA LOCAL INFILE "$file_name" INTO TABLE `pp_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

Uploading data for year: 1996
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
482616 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
482616 rows affected.
Uploading data for year: 1997
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
547216 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
547217 rows affected.
Uploading data for year: 1998
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
525242 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
525242 rows affected.
Uploading data for year: 1999
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
597430 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
597431 rows affected.
Uploading data for year: 2000
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
564680 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
564680 rows affected.
Uploading data for year: 2001
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
622909 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
622909 rows affected.
Uploading data for year: 2002
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
675888 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
675888 rows affected.
Uploading data for year: 2003
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
617720 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
617720 rows affected.
Uploading data for year: 2004
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
615950 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
615951 rows affected.
Uploading data for year: 2005
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
530698 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
530698 rows affected.
Uploading data for year: 2006
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
663026 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
663026 rows affected.
Uploading data for year: 2007
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
636157 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
636158 rows affected.
Uploading data for year: 2008
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
324811 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
324811 rows affected.
Uploading data for year: 2009
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
312640 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
312641 rows affected.
Uploading data for year: 2010
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
331634 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
331634 rows affected.
Uploading data for year: 2011
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
330596 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
330597 rows affected.
Uploading data for year: 2012
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
334449 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
334450 rows affected.
Uploading data for year: 2013
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
405512 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
405512 rows affected.
Uploading data for year: 2014
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
492447 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
492448 rows affected.
Uploading data for year: 2015
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
505334 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
505335 rows affected.
Uploading data for year: 2016
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
522955 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
522956 rows affected.
Uploading data for year: 2017
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
533471 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
533472 rows affected.
Uploading data for year: 2018
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
518398 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
518398 rows affected.
Uploading data for year: 2019
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
505357 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
505358 rows affected.
Uploading data for year: 2020
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
446812 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
446813 rows affected.
Uploading data for year: 2021
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
635765 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
635766 rows affected.
Uploading data for year: 2022
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
528907 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
528908 rows affected.
Uploading data for year: 2023
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
388762 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
388763 rows affected.
Uploading data for year: 2024
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
184957 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
184958 rows affected.

Now that we uploaded the data, we can retrieve it from the table. We can
select the first 5 elements in the `pp_data` using this command:

In [29]:
%%sql
USE `ads_2024`;
SELECT * FROM `pp_data` LIMIT 5;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
5 rows affected.

[('{109BBF80-1E51-4910-8E2C-B124E1117A7A}', 34950, datetime.date(1995, 6, 9), 'BA3 3AH', 'F', 'N', 'L', 'COOMBEND HOUSE', '7', 'COOMBEND', 'RADSTOCK', 'RADSTOCK', 'WANSDYKE', 'AVON', 'A', 'A', 1),
 ('{D5233D67-2975-426B-B98D-B124E39331D9}', 133000, datetime.date(1995, 6, 19), 'SW18 5AG', 'T', 'N', 'F', '142', '', 'ASTONVILLE STREET', 'LONDON', 'LONDON', 'WANDSWORTH', 'GREATER LONDON', 'A', 'A', 2),
 ('{718BD35C-25E1-431C-8AF7-B124E63ED4E1}', 83000, datetime.date(1995, 8, 21), 'IP11 7PU', 'D', 'N', 'F', '3', '', 'GARFIELD ROAD', 'FELIXSTOWE', 'FELIXSTOWE', 'SUFFOLK COASTAL', 'SUFFOLK', 'A', 'A', 3),
 ('{E127F626-6247-4D95-A392-B124F4C0A558}', 59000, datetime.date(1995, 7, 27), 'PE21 0SF', 'D', 'Y', 'F', 'BEAUCADRE', '', 'GAYSFIELD ROAD', 'FISHTOFT', 'BOSTON', 'BOSTON', 'LINCOLNSHIRE', 'A', 'A', 4),
 ('{B10762A0-2C9C-4C82-A885-B1250B55FFF9}', 51000, datetime.date(1995, 2, 28), 'ME7 4DF', 'T', 'N', 'F', '41', '', 'FRANKLIN ROAD', 'GILLINGHAM', 'GILLINGHAM', 'GILLINGHAM', 'KENT', 'A', 'A', 5)]

We can also count the number of rows in our table. It can take more than
5 minutes to finish. There are almost 30 million of records in the
dataset.

In [30]:
%sql select count(*) from `pp_data`;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

[(29561694,)]

## Postal Codes Dataset

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_datasets/includes/postcode-data.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_datasets/includes/postcode-data.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

The UK Price Paid dataset is now available in our database. This dataset
provides useful information about the housing transactions in the UK.
More complete analysis can be enabled if we join it with additional
datasets. That is the goal of the rest of this practical. The [Open
Postcode Geo](https://www.getthedata.com/open-postcode-geo) provides
additional information about the houses. It is a dataset of British
postcodes with easting, northing, latitude, and longitude and with
additional fields for geospace applications, including postcode area,
postcode district, postcode sector, incode, and outcode.

Your task now is to make this dataset available and accessible in our
database. The data you need can be found at this url:
<https://www.getthedata.com/downloads/open_postcode_geo.csv.zip>. It
will need to be unzipped before use.

You may find the following schema useful for the postcode data
(developed by Christian and Neil)

In [31]:
%%sql
--
-- Table structure for table `postcode_data`
--
DROP TABLE IF EXISTS `postcode_data`;
CREATE TABLE IF NOT EXISTS `postcode_data` (
  `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
  `status` enum('live','terminated') NOT NULL,
  `usertype` enum('small', 'large') NOT NULL,
  `easting` int unsigned,
  `northing` int unsigned,
  `positional_quality_indicator` int NOT NULL,
  `country` enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
  `latitude` decimal(11,8) NOT NULL,
  `longitude` decimal(10,8) NOT NULL,
  `postcode_no_space` tinytext COLLATE utf8_bin NOT NULL,
  `postcode_fixed_width_seven` varchar(7) COLLATE utf8_bin NOT NULL,
  `postcode_fixed_width_eight` varchar(8) COLLATE utf8_bin NOT NULL,
  `postcode_area` varchar(2) COLLATE utf8_bin NOT NULL,
  `postcode_district` varchar(4) COLLATE utf8_bin NOT NULL,
  `postcode_sector` varchar(6) COLLATE utf8_bin NOT NULL,
  `outcode` varchar(4) COLLATE utf8_bin NOT NULL,
  `incode` varchar(3)  COLLATE utf8_bin NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

And again you’ll want to set up a primary key for the new table.

In [35]:
%%sql
ALTER TABLE `postcode_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `postcode_data`
MODIFY `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

[]

### Exercise 2

Upload the postcode dataset to your database using the LOAD DATA LOCAL
INFILE command.

### Exercise 2 Answer

Write your answer to Exercise 2 here

In [36]:
%sql USE `ads_2024`;
%sql LOAD DATA LOCAL INFILE "open_postcode_geo.csv" INTO TABLE `postcode_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
2631536 rows affected.

[]

## Joining Tables

<span class="editsection-bracket"
style="">\[</span><span class="editsection"
style=""><a href="https://github.com/lawrennd/snippets/edit/main/_access/includes/table-joins.md" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', 'https://github.com/lawrennd/snippets/edit/main/_access/includes/table-joins.md', 13);">edit</a></span><span class="editsection-bracket" style="">\]</span>

When we have two tables with data tha describe the same object, then it
makes sense to join the tables together to enrich our knowledge about
the object. For example, while the `pp_data` tell us about the
transactions a house have been involved, the `postcode_data` tell us
details about the location of the house. By joining both, we could
answer more interesting questions like what are the coordinates of the
most expensive house in 2024?

The join of the tables must be done by matching the columns the tables
share. In this case, the `pp_data` and the `postcode_data` tables share
the column `postcode`. This operation can take long time because the
number of records in each database is huge.

You will find the issue of operations taking too long when handling
large data sets in different scenarios. An appropriate strategy to
overcome such issues is to index the tables. Indexing is a way to
organise the data so the queries are more efficient time-wise. Now the
task is to select the right columns to create the index. This decision
depends on the columns we are using in the SQL operations. In the join
case, we are selecting and matching records in each table using the
`postcode` column. It makes sense then to create an index for these
columns. The following code indexes the table `pp_data` by `postcode`.

In [117]:
# WARNING: Giving the size of the table, this operation takes around 8 minutes.
# If your database is not responsive, check the status of your database on the AWS dashboard. You can restart the database from the dashboard.

# CREATE INDEX idx_pp_postcode ON pp_data(postcode);
# (that goes after the rest)

%%sql
USE `ads_2024`;
CREATE INDEX idx_pp_postcode ON pp_data(postcode)

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

KeyboardInterrupt:

Let’s try our join the tables for year 2024 now:

In [67]:
%%sql
USE `ads_2024`;
select * from pp_data as pp inner join postcode_data as po on pp.postcode = po.postcode where pp.date_of_transfer BETWEEN '2024-01-01' AND '2024-12-31' limit 5;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

KeyboardInterrupt:

### Exercise 3

The index made a difference in the time the join operation took to
finish. Write the code to index the table `postcode_data` by `postcode`.

### Exercise 3 Answer

Write your answer to Exercise 3 here

In [57]:
%%sql
USE `ads_2024`;
CREATE INDEX idx_postcode_data_postcode ON postcode_data(postcode);

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
(pymysql.err.OperationalError) (1091, "Can't DROP INDEX `idx_pp_postcodea`; check that it exists")
[SQL: DROP INDEX idx_pp_postcodea ON postcode_data;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

And, let’s try the join again:

In [51]:
%%sql
USE `ads_2024`;
select * from pp_data as pp inner join postcode_data as po on pp.postcode = po.postcode where pp.date_of_transfer BETWEEN '2024-01-01' AND '2024-12-31' limit 50;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
50 rows affected.

[('{1EAE3DF6-86E1-9EB1-E063-4704A8C09D02}', 815000, datetime.date(2024, 7, 12), 'AL1 1AJ', 'T', 'N', 'F', '18', '', 'ORIENT CLOSE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31614320, 'AL1 1AJ', 'live', 'small', 515491, 206410, 1, 'England', Decimal('51.74449800'), Decimal('-0.32859900'), 'AL11AJ', 'AL1 1AJ', 'AL1  1AJ', 'AL', 'AL1', 'AL1 1', 'AL1', '1AJ', 39166),
 ('{1775CCF7-30EF-38BA-E063-4704A8C05A7C}', 903500, datetime.date(2024, 4, 19), 'AL1 1AW', 'D', 'N', 'F', '3', '', 'WAIN CLOSE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31675314, 'AL1 1AW', 'live', 'small', 515937, 206118, 1, 'England', Decimal('51.74178700'), Decimal('-0.32221600'), 'AL11AW', 'AL1 1AW', 'AL1  1AW', 'AL', 'AL1', 'AL1 1', 'AL1', '1AW', 39175),
 ('{1EAE3DF6-85C7-9EB1-E063-4704A8C09D02}', 1335000, datetime.date(2024, 6, 21), 'AL1 1BX', 'D', 'N', 'F', 'VINE HOUSE', '', 'HOLYWELL HILL', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31614706, 'AL1 1BX', 'live', 'small', 514621, 206900, 1, 'England', Decimal('51.74908600'), Decimal('-0.34101000'), 'AL11BX', 'AL1 1BX', 'AL1  1BX', 'AL', 'AL1', 'AL1 1', 'AL1', '1BX', 39184),
 ('{237B17FD-F992-22AC-E063-4804A8C0EA3A}', 450000, datetime.date(2024, 9, 6), 'AL1 1DH', 'T', 'N', 'F', '96', '', 'HOLYWELL HILL', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31329588, 'AL1 1DH', 'live', 'small', 514562, 206730, 1, 'England', Decimal('51.74756400'), Decimal('-0.34194300'), 'AL11DH', 'AL1 1DH', 'AL1  1DH', 'AL', 'AL1', 'AL1 1', 'AL1', '1DH', 39193),
 ('{1775CCF7-2F07-38BA-E063-4704A8C05A7C}', 888000, datetime.date(2024, 4, 5), 'AL1 1DU', 'D', 'N', 'F', '27', '', 'NAPSBURY LANE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31436642, 'AL1 1DU', 'live', 'small', 516406, 204949, 1, 'England', Decimal('51.73117800'), Decimal('-0.31584000'), 'AL11DU', 'AL1 1DU', 'AL1  1DU', 'AL', 'AL1', 'AL1 1', 'AL1', '1DU', 39201),
 ('{1EAE3DF6-87B4-9EB1-E063-4704A8C09D02}', 520000, datetime.date(2024, 5, 22), 'AL1 1HR', 'F', 'N', 'L', 'AVENTINE COURT, 101', 'FLAT 10', 'HOLYWELL HILL', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31612311, 'AL1 1HR', 'live', 'small', 514543, 206562, 1, 'England', Decimal('51.74605800'), Decimal('-0.34227400'), 'AL11HR', 'AL1 1HR', 'AL1  1HR', 'AL', 'AL1', 'AL1 1', 'AL1', '1HR', 39235),
 ('{237B17FD-FCD1-22AC-E063-4804A8C0EA3A}', 475000, datetime.date(2024, 8, 23), 'AL1 1HR', 'F', 'N', 'L', 'AVENTINE COURT, 101', 'FLAT 6', 'HOLYWELL HILL', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31651975, 'AL1 1HR', 'live', 'small', 514543, 206562, 1, 'England', Decimal('51.74605800'), Decimal('-0.34227400'), 'AL11HR', 'AL1 1HR', 'AL1  1HR', 'AL', 'AL1', 'AL1 1', 'AL1', '1HR', 39235),
 ('{237B17FD-FCD5-22AC-E063-4804A8C0EA3A}', 495000, datetime.date(2024, 1, 19), 'AL1 1HR', 'F', 'N', 'L', 'AVENTINE COURT, 101', 'FLAT 2', 'HOLYWELL HILL', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31651978, 'AL1 1HR', 'live', 'small', 514543, 206562, 1, 'England', Decimal('51.74605800'), Decimal('-0.34227400'), 'AL11HR', 'AL1 1HR', 'AL1  1HR', 'AL', 'AL1', 'AL1 1', 'AL1', '1HR', 39235),
 ('{1EAE3DF6-87FD-9EB1-E063-4704A8C09D02}', 1500000, datetime.date(2024, 4, 4), 'AL1 1HY', 'D', 'N', 'F', '274', '', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31616563, 'AL1 1HY', 'live', 'small', 516484, 205693, 1, 'England', Decimal('51.73785400'), Decimal('-0.31444000'), 'AL11HY', 'AL1 1HY', 'AL1  1HY', 'AL', 'AL1', 'AL1 1', 'AL1', '1HY', 39240),
 ('{1C3E72FE-266E-F410-E063-4804A8C0DFA6}', 1810000, datetime.date(2024, 1, 19), 'AL1 1JL', 'D', 'N', 'F', '28', '', 'CUNNINGHAM AVENUE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31485845, 'AL1 1JL', 'live', 'small', 515883, 206430, 1, 'England', Decimal('51.74459700'), Decimal('-0.32291700'), 'AL11JL', 'AL1 1JL', 'AL1  1JL', 'AL', 'AL1', 'AL1 1', 'AL1', '1JL', 39249),
 ('{1C3E72FE-27BD-F410-E063-4804A8C0DFA6}', 310000, datetime.date(2024, 2, 15), 'AL1 1JR', 'F', 'N', 'L', '15', '', 'COLINDALE AVENUE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31490438, 'AL1 1JR', 'live', 'small', 515736, 206522, 1, 'England', Decimal('51.74545400'), Decimal('-0.32501500'), 'AL11JR', 'AL1 1JR', 'AL1  1JR', 'AL', 'AL1', 'AL1 1', 'AL1', '1JR', 39253),
 ('{1C3E72FE-2916-F410-E063-4804A8C0DFA6}', 330000, datetime.date(2024, 4, 4), 'AL1 1JU', 'F', 'N', 'L', 'DUNCAN COURT', '9', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31485890, 'AL1 1JU', 'live', 'small', 515881, 206219, 1, 'England', Decimal('51.74270100'), Decimal('-0.32301600'), 'AL11JU', 'AL1 1JU', 'AL1  1JU', 'AL', 'AL1', 'AL1 1', 'AL1', '1JU', 39256),
 ('{1C3E72FE-2659-F410-E063-4804A8C0DFA6}', 253000, datetime.date(2024, 4, 22), 'AL1 1LA', 'F', 'N', 'L', '15', 'FLAT 1', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31485127, 'AL1 1LA', 'live', 'small', 514832, 207080, 1, 'England', Decimal('51.75065500'), Decimal('-0.33791900'), 'AL11LA', 'AL1 1LA', 'AL1  1LA', 'AL', 'AL1', 'AL1 1', 'AL1', '1LA', 39260),
 ('{2131FCF6-0734-86E8-E063-4804A8C0372B}', 277500, datetime.date(2024, 4, 8), 'AL1 1LA', 'F', 'N', 'L', '15', 'FLAT 4', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31528945, 'AL1 1LA', 'live', 'small', 514832, 207080, 1, 'England', Decimal('51.75065500'), Decimal('-0.33791900'), 'AL11LA', 'AL1 1LA', 'AL1  1LA', 'AL', 'AL1', 'AL1 1', 'AL1', '1LA', 39260),
 ('{1775CCF7-E892-38BA-E063-4704A8C05A7C}', 380000, datetime.date(2024, 3, 8), 'AL1 1LB', 'F', 'N', 'L', 'BENEDICTINE PLACE, 25', 'FLAT 54', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'B', 'A', 31461979, 'AL1 1LB', 'live', 'small', 514954, 207029, 1, 'England', Decimal('51.75017100'), Decimal('-0.33616900'), 'AL11LB', 'AL1 1LB', 'AL1  1LB', 'AL', 'AL1', 'AL1 1', 'AL1', '1LB', 39261),
 ('{237B17FD-FD99-22AC-E063-4804A8C0EA3A}', 460000, datetime.date(2024, 7, 22), 'AL1 1LT', 'F', 'N', 'L', 'LANSDOWNE PLACE', 'FLAT 4', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31662274, 'AL1 1LT', 'live', 'small', 516452, 205715, 1, 'England', Decimal('51.73805800'), Decimal('-0.31489500'), 'AL11LT', 'AL1 1LT', 'AL1  1LT', 'AL', 'AL1', 'AL1 1', 'AL1', '1LT', 39274),
 ('{2131FCF6-05E4-86E8-E063-4804A8C0372B}', 660000, datetime.date(2024, 8, 5), 'AL1 1NB', 'T', 'N', 'F', '5', '', 'PAGEANT ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31365714, 'AL1 1NB', 'live', 'small', 514858, 206891, 1, 'England', Decimal('51.74895100'), Decimal('-0.33760500'), 'AL11NB', 'AL1 1NB', 'AL1  1NB', 'AL', 'AL1', 'AL1 1', 'AL1', '1NB', 39281),
 ('{1C3E72FE-250A-F410-E063-4804A8C0DFA6}', 728000, datetime.date(2024, 1, 31), 'AL1 1NB', 'T', 'N', 'F', '55', '', 'PAGEANT ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31444609, 'AL1 1NB', 'live', 'small', 514858, 206891, 1, 'England', Decimal('51.74895100'), Decimal('-0.33760500'), 'AL11NB', 'AL1 1NB', 'AL1  1NB', 'AL', 'AL1', 'AL1 1', 'AL1', '1NB', 39281),
 ('{1EAE3DF6-859F-9EB1-E063-4704A8C09D02}', 605500, datetime.date(2024, 2, 22), 'AL1 1NB', 'S', 'N', 'F', '17', '', 'PAGEANT ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31613876, 'AL1 1NB', 'live', 'small', 514858, 206891, 1, 'England', Decimal('51.74895100'), Decimal('-0.33760500'), 'AL11NB', 'AL1 1NB', 'AL1  1NB', 'AL', 'AL1', 'AL1 1', 'AL1', '1NB', 39281),
 ('{237B17FD-FA08-22AC-E063-4804A8C0EA3A}', 743500, datetime.date(2024, 5, 3), 'AL1 1NF', 'T', 'N', 'F', '36', '', 'HART ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31335903, 'AL1 1NF', 'live', 'small', 514904, 206953, 1, 'England', Decimal('51.74949900'), Decimal('-0.33691800'), 'AL11NF', 'AL1 1NF', 'AL1  1NF', 'AL', 'AL1', 'AL1 1', 'AL1', '1NF', 39284),
 ('{1EAE3DF6-8520-9EB1-E063-4704A8C09D02}', 785000, datetime.date(2024, 3, 22), 'AL1 1NF', 'T', 'N', 'F', '8', '', 'HART ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31611965, 'AL1 1NF', 'live', 'small', 514904, 206953, 1, 'England', Decimal('51.74949900'), Decimal('-0.33691800'), 'AL11NF', 'AL1 1NF', 'AL1  1NF', 'AL', 'AL1', 'AL1 1', 'AL1', '1NF', 39284),
 ('{1EAE3DF6-888D-9EB1-E063-4704A8C09D02}', 405000, datetime.date(2024, 6, 28), 'AL1 1NG', 'F', 'N', 'L', 'KEYSTONE HOUSE, 60', 'FLAT 21', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31616924, 'AL1 1NG', 'live', 'small', 514829, 207041, 1, 'England', Decimal('51.75030500'), Decimal('-0.33797500'), 'AL11NG', 'AL1 1NG', 'AL1  1NG', 'AL', 'AL1', 'AL1 1', 'AL1', '1NG', 39285),
 ('{2131FCF6-08DC-86E8-E063-4804A8C0372B}', 840000, datetime.date(2024, 8, 6), 'AL1 1PA', 'T', 'N', 'F', '13', '', 'WATSONS WALK', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31376038, 'AL1 1PA', 'live', 'small', 515081, 206860, 1, 'England', Decimal('51.74862600'), Decimal('-0.33438600'), 'AL11PA', 'AL1 1PA', 'AL1  1PA', 'AL', 'AL1', 'AL1 1', 'AL1', '1PA', 39300),
 ('{1EAE3DF7-5BFA-9EB1-E063-4704A8C09D02}', 75000, datetime.date(2024, 3, 12), 'AL1 1PB', 'O', 'N', 'L', '1', '', 'VERNON CLOSE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'B', 'A', 31462996, 'AL1 1PB', 'live', 'small', 514990, 206863, 1, 'England', Decimal('51.74867800'), Decimal('-0.33567900'), 'AL11PB', 'AL1 1PB', 'AL1  1PB', 'AL', 'AL1', 'AL1 1', 'AL1', '1PB', 39301),
 ('{237B17FD-FCA3-22AC-E063-4804A8C0EA3A}', 790000, datetime.date(2024, 8, 29), 'AL1 1PF', 'S', 'N', 'F', '31', '', 'PAXTON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31613245, 'AL1 1PF', 'live', 'small', 515125, 206815, 1, 'England', Decimal('51.74821300'), Decimal('-0.33376400'), 'AL11PF', 'AL1 1PF', 'AL1  1PF', 'AL', 'AL1', 'AL1 1', 'AL1', '1PF', 39304),
 ('{237B17FD-FDCD-22AC-E063-4804A8C0EA3A}', 380000, datetime.date(2024, 4, 23), 'AL1 1QE', 'T', 'N', 'L', '7C', '', 'OLD LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31664559, 'AL1 1QE', 'live', 'small', 514994, 206795, 1, 'England', Decimal('51.74806000'), Decimal('-0.33566700'), 'AL11QE', 'AL1 1QE', 'AL1  1QE', 'AL', 'AL1', 'AL1 1', 'AL1', '1QE', 39323),
 ('{1C3E72FE-2735-F410-E063-4804A8C0DFA6}', 625000, datetime.date(2024, 6, 12), 'AL1 1QU', 'T', 'N', 'F', 'THE OLD WORKS', '5', 'OLD LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31488308, 'AL1 1QU', 'live', 'small', 515273, 206679, 1, 'England', Decimal('51.74696600'), Decimal('-0.33164300'), 'AL11QU', 'AL1 1QU', 'AL1  1QU', 'AL', 'AL1', 'AL1 1', 'AL1', '1QU', 39333),
 ('{237B17FD-FB92-22AC-E063-4804A8C0EA3A}', 335000, datetime.date(2024, 9, 11), 'AL1 1QW', 'F', 'N', 'L', '56', '', 'MILLERS RISE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31425575, 'AL1 1QW', 'live', 'small', 515186, 206615, 1, 'England', Decimal('51.74640300'), Decimal('-0.33294700'), 'AL11QW', 'AL1 1QW', 'AL1  1QW', 'AL', 'AL1', 'AL1 1', 'AL1', '1QW', 39334),
 ('{1A0C5C63-4E34-7CBE-E063-4804A8C06C96}', 785000, datetime.date(2024, 4, 15), 'AL1 1QW', 'T', 'N', 'F', '48', '', 'MILLERS RISE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31439589, 'AL1 1QW', 'live', 'small', 515186, 206615, 1, 'England', Decimal('51.74640300'), Decimal('-0.33294700'), 'AL11QW', 'AL1 1QW', 'AL1  1QW', 'AL', 'AL1', 'AL1 1', 'AL1', '1QW', 39334),
 ('{1A0C5C63-4D5D-7CBE-E063-4804A8C06C96}', 582500, datetime.date(2024, 5, 15), 'AL1 1RJ', 'T', 'N', 'F', '16', '', 'BARDWELL ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31443449, 'AL1 1RJ', 'live', 'small', 514827, 206778, 1, 'England', Decimal('51.74794700'), Decimal('-0.33806800'), 'AL11RJ', 'AL1 1RJ', 'AL1  1RJ', 'AL', 'AL1', 'AL1 1', 'AL1', '1RJ', 39344),
 ('{237B17FD-F9EE-22AC-E063-4804A8C0EA3A}', 750000, datetime.date(2024, 5, 1), 'AL1 1RN', 'T', 'N', 'F', '73', '', 'SOPWELL LANE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31333608, 'AL1 1RN', 'live', 'small', 514842, 206823, 1, 'England', Decimal('51.74834300'), Decimal('-0.33785900'), 'AL11RN', 'AL1 1RN', 'AL1  1RN', 'AL', 'AL1', 'AL1 1', 'AL1', '1RN', 39346),
 ('{12A8BAB6-31F9-2125-E063-4804A8C08CC1}', 435000, datetime.date(2024, 1, 30), 'AL1 1RN', 'T', 'N', 'L', '85', '', 'SOPWELL LANE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31495782, 'AL1 1RN', 'live', 'small', 514842, 206823, 1, 'England', Decimal('51.74834300'), Decimal('-0.33785900'), 'AL11RN', 'AL1 1RN', 'AL1  1RN', 'AL', 'AL1', 'AL1 1', 'AL1', '1RN', 39346),
 ('{2131FCF6-06A5-86E8-E063-4804A8C0372B}', 575000, datetime.date(2024, 7, 24), 'AL1 1RT', 'T', 'N', 'F', '53', '', 'ALBERT STREET', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31376028, 'AL1 1RT', 'live', 'small', 514878, 206863, 1, 'England', Decimal('51.74870100'), Decimal('-0.33730100'), 'AL11RT', 'AL1 1RT', 'AL1  1RT', 'AL', 'AL1', 'AL1 1', 'AL1', '1RT', 39351),
 ('{1EAE3DF6-8496-9EB1-E063-4704A8C09D02}', 785000, datetime.date(2024, 7, 15), 'AL1 1RT', 'S', 'N', 'F', '33', '', 'ALBERT STREET', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31613541, 'AL1 1RT', 'live', 'small', 514878, 206863, 1, 'England', Decimal('51.74870100'), Decimal('-0.33730100'), 'AL11RT', 'AL1 1RT', 'AL1  1RT', 'AL', 'AL1', 'AL1 1', 'AL1', '1RT', 39351),
 ('{2131FCF6-D14A-86E8-E063-4804A8C0372B}', 600000, datetime.date(2024, 3, 28), 'AL1 1RU', 'T', 'N', 'F', '60', '', 'ALBERT STREET', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'B', 'A', 31470856, 'AL1 1RU', 'live', 'small', 514815, 206878, 1, 'England', Decimal('51.74884300'), Decimal('-0.33823200'), 'AL11RU', 'AL1 1RU', 'AL1  1RU', 'AL', 'AL1', 'AL1 1', 'AL1', '1RU', 39352),
 ('{2131FCF6-074B-86E8-E063-4804A8C0372B}', 595000, datetime.date(2024, 8, 2), 'AL1 1RU', 'T', 'N', 'F', '72', '', 'ALBERT STREET', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31530956, 'AL1 1RU', 'live', 'small', 514815, 206878, 1, 'England', Decimal('51.74884300'), Decimal('-0.33823200'), 'AL11RU', 'AL1 1RU', 'AL1  1RU', 'AL', 'AL1', 'AL1 1', 'AL1', '1RU', 39352),
 ('{1EAE3DF6-86E6-9EB1-E063-4704A8C09D02}', 485000, datetime.date(2024, 3, 8), 'AL1 1RW', 'T', 'N', 'F', '94', '', 'SOPWELL LANE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31614323, 'AL1 1RW', 'live', 'small', 514840, 206798, 1, 'England', Decimal('51.74811900'), Decimal('-0.33789600'), 'AL11RW', 'AL1 1RW', 'AL1  1RW', 'AL', 'AL1', 'AL1 1', 'AL1', '1RW', 39353),
 ('{1C3E72FE-262E-F410-E063-4804A8C0DFA6}', 300000, datetime.date(2024, 2, 9), 'AL1 1SD', 'F', 'N', 'L', '58', '', 'RIVERSIDE ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31484699, 'AL1 1SD', 'live', 'small', 515131, 206602, 1, 'England', Decimal('51.74629700'), Decimal('-0.33374700'), 'AL11SD', 'AL1 1SD', 'AL1  1SD', 'AL', 'AL1', 'AL1 1', 'AL1', '1SD', 39358),
 ('{2131FCF6-06DD-86E8-E063-4804A8C0372B}', 275000, datetime.date(2024, 5, 7), 'AL1 1SD', 'F', 'N', 'L', '70', '', 'RIVERSIDE ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31524563, 'AL1 1SD', 'live', 'small', 515131, 206602, 1, 'England', Decimal('51.74629700'), Decimal('-0.33374700'), 'AL11SD', 'AL1 1SD', 'AL1  1SD', 'AL', 'AL1', 'AL1 1', 'AL1', '1SD', 39358),
 ('{2131FCF6-05D3-86E8-E063-4804A8C0372B}', 755000, datetime.date(2024, 8, 15), 'AL1 1SQ', 'T', 'N', 'F', '3', '', 'CORNWALL ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31365697, 'AL1 1SQ', 'live', 'small', 515385, 206426, 1, 'England', Decimal('51.74466400'), Decimal('-0.33012800'), 'AL11SQ', 'AL1 1SQ', 'AL1  1SQ', 'AL', 'AL1', 'AL1 1', 'AL1', '1SQ', 39367),
 ('{237B17FD-FF50-22AC-E063-4804A8C0EA3A}', 317000, datetime.date(2024, 5, 2), 'AL1 1SW', 'F', 'N', 'L', 'RIVERSIDE HOUSE, 36', 'FLAT 2', 'RAMSBURY ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31605292, 'AL1 1SW', 'live', 'small', 515334, 206582, 1, 'England', Decimal('51.74607600'), Decimal('-0.33081500'), 'AL11SW', 'AL1 1SW', 'AL1  1SW', 'AL', 'AL1', 'AL1 1', 'AL1', '1SW', 39372),
 ('{1A0C5C63-4FDD-7CBE-E063-4804A8C06C96}', 535000, datetime.date(2024, 1, 4), 'AL1 1TA', 'F', 'N', 'L', 'LONDON HOUSE, 143', 'FLAT 9', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31444547, 'AL1 1TA', 'live', 'small', 516049, 206167, 1, 'England', Decimal('51.74220400'), Decimal('-0.32057800'), 'AL11TA', 'AL1 1TA', 'AL1  1TA', 'AL', 'AL1', 'AL1 1', 'AL1', '1TA', 39375),
 ('{1C3E72FE-2871-F410-E063-4804A8C0DFA6}', 550000, datetime.date(2024, 4, 5), 'AL1 1TA', 'F', 'N', 'L', 'WATLING HOUSE, 139', '5', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31484297, 'AL1 1TA', 'live', 'small', 516049, 206167, 1, 'England', Decimal('51.74220400'), Decimal('-0.32057800'), 'AL11TA', 'AL1 1TA', 'AL1  1TA', 'AL', 'AL1', 'AL1 1', 'AL1', '1TA', 39375),
 ('{12A8BAB6-34B3-2125-E063-4804A8C08CC1}', 550000, datetime.date(2024, 2, 5), 'AL1 1TA', 'F', 'N', 'L', 'WATLING HOUSE, 139', '1', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31498250, 'AL1 1TA', 'live', 'small', 516049, 206167, 1, 'England', Decimal('51.74220400'), Decimal('-0.32057800'), 'AL11TA', 'AL1 1TA', 'AL1  1TA', 'AL', 'AL1', 'AL1 1', 'AL1', '1TA', 39375),
 ('{2131FCF6-0657-86E8-E063-4804A8C0372B}', 487000, datetime.date(2024, 7, 22), 'AL1 1TD', 'S', 'N', 'F', '7', '', 'MILE HOUSE CLOSE', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31372453, 'AL1 1TD', 'live', 'small', 516120, 205855, 1, 'England', Decimal('51.73938600'), Decimal('-0.31965500'), 'AL11TD', 'AL1 1TD', 'AL1  1TD', 'AL', 'AL1', 'AL1 1', 'AL1', '1TD', 39377),
 ('{1C3E72FE-2873-F410-E063-4804A8C0DFA6}', 438500, datetime.date(2024, 5, 31), 'AL1 1TR', 'F', 'N', 'L', '82 - 90', '7 EDINBURGH HOUSE', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31484298, 'AL1 1TR', 'live', 'small', 514968, 206987, 1, 'England', Decimal('51.74979100'), Decimal('-0.33598000'), 'AL11TR', 'AL1 1TR', 'AL1  1TR', 'AL', 'AL1', 'AL1 1', 'AL1', '1TR', 39387),
 ('{2131FCF6-097B-86E8-E063-4804A8C0372B}', 462000, datetime.date(2024, 7, 5), 'AL1 1TR', 'F', 'N', 'L', '82 - 90', '4 EDINBURGH HOUSE', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31528972, 'AL1 1TR', 'live', 'small', 514968, 206987, 1, 'England', Decimal('51.74979100'), Decimal('-0.33598000'), 'AL11TR', 'AL1 1TR', 'AL1  1TR', 'AL', 'AL1', 'AL1 1', 'AL1', '1TR', 39387),
 ('{1A0C5C63-4E25-7CBE-E063-4804A8C06C96}', 440000, datetime.date(2024, 5, 20), 'AL1 1TS', 'S', 'N', 'L', 'BIRKLANDS PARK', '1', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31446105, 'AL1 1TS', 'live', 'small', 516839, 205291, 1, 'England', Decimal('51.73416200'), Decimal('-0.30945900'), 'AL11TS', 'AL1 1TS', 'AL1  1TS', 'AL', 'AL1', 'AL1 1', 'AL1', '1TS', 39388),
 ('{12A8BAB6-3261-2125-E063-4804A8C08CC1}', 475000, datetime.date(2024, 2, 5), 'AL1 1TS', 'F', 'N', 'L', 'BIRKLANDS PARK', '21', 'LONDON ROAD', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31496221, 'AL1 1TS', 'live', 'small', 516839, 205291, 1, 'England', Decimal('51.73416200'), Decimal('-0.30945900'), 'AL11TS', 'AL1 1TS', 'AL1  1TS', 'AL', 'AL1', 'AL1 1', 'AL1', '1TS', 39388),
 ('{2131FCF6-086F-86E8-E063-4804A8C0372B}', 305000, datetime.date(2024, 7, 29), 'AL1 1TW', 'F', 'N', 'L', '44A', '', 'ABBOTS PARK', '', 'ST ALBANS', 'ST ALBANS', 'HERTFORDSHIRE', 'A', 'A', 31370127, 'AL1 1TW', 'live', 'small', 516059, 206021, 1, 'England', Decimal('51.74088500'), Decimal('-0.32050500'), 'AL11TW', 'AL1 1TW', 'AL1  1TW', 'AL', 'AL1', 'AL1 1', 'AL1', '1TW', 39391)]

### Exercise 4

Do you see any difference after adding the new index? Why?

### Exercise 4 Answer

Write your answer to Exercise 4 here

In [ ]:
# No, the speed and records seem to be the same. I think this is because one of the two tables being indexed
# is enough to reduce the complexity of a join per record from linear to constant.
# I.e., with table1 indexed and table2 not indexed, we can take the top record in table2, and
# find the corresponding record in table1 in constant time (because lookup tables have constant lookup time).
# So I think indexing both is unnecessary, or at least not explicitly useful here for efficiency.

# Note: To gather extra info, I tried running a few times with and without indexing.
# At the moment of writing, reindexing is no longer working, though it did successfully run before.

## Database Python Client

Now let’s focus on the second way of interacting with the database
server. We can use Python code to create a client that communicates with
our database server. For this, we need to install the following
libraries.

In [118]:
%pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [119]:
%pip install PyMySQL

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.10/dist-packages (1.1.1)

Let’s create a method in Python to establish a database connection
wherever we like. It should look like the following code:

In [120]:
import pymysql

In [139]:
%%sql
show processlist;

 * mariadb+pymysql://admin:***@database-ads-jd2016.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
3 rows affected.

[(8, 'rdsadmin', 'localhost', 'mysql', 'Sleep', 2, '', None, 0.0),
 (2628, 'admin', '34.73.111.126:33374', 'ads_2024', 'Query', 866, 'altering table', 'CREATE INDEX idx_pp_date_transfer ON pp_data(date_of_transfer)', 0.0),
 (2655, 'admin', '34.32.248.210:57128', None, 'Query', 0, 'starting', 'show processlist', 0.0)]

In [121]:
def create_connection(user, password, host, database, port=3306):
    """ Create a database connection to the MariaDB database
        specified by the host url and database name.
    :param user: username
    :param password: password
    :param host: host url
    :param database: database name
    :param port: port number
    :return: Connection object or None
    """
    conn = None
    try:
        conn = pymysql.connect(user=user,
                               passwd=password,
                               host=host,
                               port=port,
                               local_infile=1,
                               db=database
                               )
        print(f"Connection established!")
    except Exception as e:
        print(f"Error connecting to the MariaDB Server: {e}")
    return conn

Please add the code above to your fynesse library. We can now call this
function to get a connection:

In [126]:
%pip uninstall --yes fynesse
%pip install git+https://github.com/JDS289/jd2016_ads_2024.git
import fynesse


fynesse.access.create_connection()

Found existing installation: fynesse 0.1.0
Uninstalling fynesse-0.1.0:
  Successfully uninstalled fynesse-0.1.0
Collecting git+https://github.com/JDS289/jd2016_ads_2024.git
  Cloning https://github.com/JDS289/jd2016_ads_2024.git to /tmp/pip-req-build-ivz4oz1a
  Running command git clone --filter=blob:none --quiet https://github.com/JDS289/jd2016_ads_2024.git /tmp/pip-req-build-ivz4oz1a
  Resolved https://github.com/JDS289/jd2016_ads_2024.git to commit 86fe47cc177aed8bc7d7f147dfbafa9353ff164e
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.26.4)
Requirement already satisfied: jupyter in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (3.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.5.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.29.5)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.7.1)
Requirement already satisfied: jupyterlab in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (4.3.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.6)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.6.10)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.18.0)
Requirement already satisfied: async-lru>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (75.1.0)
Requirement already satisfied: tomli>=1.2.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.1.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.12.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.6)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.9.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->ipykernel->jupyter->fynesse==0.1.0) (0.4)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (4.3.6)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.5.3)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.9.25)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.20.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (2.22)
Requirement already satisfied: fqdn in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Requirement already satisfied: uri-template in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.8.0)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /usr/local/lib/python3.10/dist-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.9.0.20241003)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py) ... done
  Created wheel for fynesse: filename=fynesse-0.1.0-py3-none-any.whl size=7071 sha256=58561bbf7bae170ff0580cd084800414fe33b1a800bae82d81a008e652a224b2
  Stored in directory: /tmp/pip-ephem-wheel-cache-h9j_6x_3/wheels/3a/47/24/1dda4db77bb19fc147a769025628efb9fe3fa786bea54062fe
Successfully built fynesse
Installing collected packages: fynesse
Successfully installed fynesse-0.1.0

AttributeError: module 'fynesse.access' has no attribute 'create_connection'

Now let’s define a Python method that uploads to a table the data
product of the join operation between the tables `pp_data` and
`postcode_data`. For this, we first need to create the table that will
store this data.

In [ ]:
%%sql
USE `ads_2024`;
--
-- Table structure for table `prices_coordinates_data`
--
DROP TABLE IF EXISTS `prices_coordinates_data`;
CREATE TABLE IF NOT EXISTS `prices_coordinates_data` (
  `price` int(10) unsigned NOT NULL,
  `date_of_transfer` date NOT NULL,
  `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
  `property_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `new_build_flag` varchar(1) COLLATE utf8_bin NOT NULL,
  `tenure_type` varchar(1) COLLATE utf8_bin NOT NULL,
  `locality` tinytext COLLATE utf8_bin NOT NULL,
  `town_city` tinytext COLLATE utf8_bin NOT NULL,
  `district` tinytext COLLATE utf8_bin NOT NULL,
  `county` tinytext COLLATE utf8_bin NOT NULL,
  `country` enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
  `latitude` decimal(11,8) NOT NULL,
  `longitude` decimal(10,8) NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

We should define the primary key for this table too.

In [ ]:
%%sql
ALTER TABLE `prices_coordinates_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `prices_coordinates_data`
MODIFY `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,AUTO_INCREMENT=1;

Indexing the table `pp_data` by date will be useful for populating the
`prices_coordinates_data`. This index can take around 8 minutes to
finish.

In [ ]:
%%sql
USE `ads_2024`;
CREATE INDEX idx_pp_date_transfer ON pp_data(date_of_transfer);

Now that the table exists in our database, let’s create a method for
uploading the join data. This method will upload the data for a given
year and will use the logic we have used before but in Python code.

In [ ]:
import csv

In [ ]:
import time

In [ ]:
def housing_upload_join_data(conn, year):
  start_date = str(year) + "-01-01"
  end_date = str(year) + "-12-31"

  cur = conn.cursor()
  print('Selecting data for year: ' + str(year))
  cur.execute(f'SELECT pp.price, pp.date_of_transfer, po.postcode, pp.property_type, pp.new_build_flag, pp.tenure_type, pp.locality, pp.town_city, pp.district, pp.county, po.country, po.latitude, po.longitude FROM (SELECT price, date_of_transfer, postcode, property_type, new_build_flag, tenure_type, locality, town_city, district, county FROM pp_data WHERE date_of_transfer BETWEEN "' + start_date + '" AND "' + end_date + '") AS pp INNER JOIN postcode_data AS po ON pp.postcode = po.postcode')
  rows = cur.fetchall()

  csv_file_path = 'output_file.csv'

  # Write the rows to the CSV file
  with open(csv_file_path, 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    # Write the data rows
    csv_writer.writerows(rows)
  print('Storing data for year: ' + str(year))
  cur.execute(f"LOAD DATA LOCAL INFILE '" + csv_file_path + "' INTO TABLE `prices_coordinates_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';")
  print('Data stored for year: ' + str(year))

Now, lets upload the joined data for 2024. This upload is going to take
long time given the size of our datasets:

In [ ]:
housing_upload_join_data(conn, 2024)

### Exercise 5

Add the `housing_upload_join_data` function to your fynesse library and
write the code to upload the joined data for 2023.

### Exercise 5 Answer

Write your answer to Exercise 5 here

In [ ]:
fynesse.access.housing_upload_join_data(conn, 2023)

To finalise this lab, let’s have a look at the structure of your
database running the following code:

In [ ]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

### Exercise 6

Write the output of the above code:

### Exercise 6 Answer

Write your answer to Exercise 6 here

In [ ]:
# Use this box for any code you need

## Summary

In this practical, we have explored how to persist a couple of datasets
in a relational database to facilitate future access. We configured a
Cloud-hosted database server and had a look at two ways to interact with
it. Then, we explored how to join tables using SQL and the benefits of
indexing. The tables you created in this practical will be used along
the course and we expect you use them for your final assignment. In the
following practical, you will `assess` this data using different methods
from visualisations to statistical analysis.

## Thanks!

For more information on these subjects and more you might want to check
the following resources.

-   book: [The Atomic
    Human](https://www.penguin.co.uk/books/455130/the-atomic-human-by-lawrence-neil-d/9780241625248)
-   twitter: [@lawrennd](https://twitter.com/lawrennd)
-   podcast: [The Talking Machines](http://thetalkingmachines.com)
-   newspaper: [Guardian Profile
    Page](http://www.theguardian.com/profile/neil-lawrence)
-   blog:
    [http://inverseprobability.com](http://inverseprobability.com/blog.html)

## References